# 忽略 Python 编译文件
*.pyc
__pycache__/

# 忽略 Jupyter Notebook 缓存
.ipynb_checkpoints/

# 忽略日志文件
*.log

# # 忽略 VSCode 配置
# .vscode/

# 忽略数据文件
# data/
# *.csv
# *.json

# 忽略模型文件
# *.pt
# *.pth
# checkpoints/

# 忽略环境文件
.env
venv/

# 忽略准备文件
EMC2_prepare/ 
