# ignore python compilar file 
# *.pyc
# __pycache__/



# ignore log file 
# *.log

# # ignore VSCode setting
# .vscode/

# ignore dataset file 
# data/
# *.csv
# *.json

# ignore pth file 
# *.pt
# *.pth
# checkpoints/

# ignore document file 
# .env
# venv/

# ignore prepare file
EMC2_prepare/ 
